<h2>Enter a new book</h2>

<form action="/books/new" method="post">
  <label>Author's First Name</label>
  <input type="text" name="first_name">

  <label>Author's Last Name</label>
  <input type="text" name="last_name">

  <label>Book's Title</label>
  <input type="text" name="title">
  <button type="submit">Enter</button>
</form>
